@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.linha {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

